*{
    box-sizing: 0;
    margin: 0;
    font-family: poppins ,sans-serif;
}

:root{
    --primary: #00b289;
    --text-extra: #4c4d5f;
    --color: #f8db62;
    --text-nav: #65816d;
}

header{
    display: flex;
    flex-direction: column;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1px solid #65816d33;
    padding-bottom: 1.2rem;
    width: 95%;
    margin: auto;
    margin-top: 1.7rem;
}

ul{
    display: flex;
    flex-direction: row;
}
nav ul{
    margin-right: 33rem;
}

a{
    text-decoration: none;
    color: var(--text-nav);
}

a:hover{
    color: #22ad01;
}

.link{
    font-size: 15px;
    font-weight: 500;
}
.link a:hover{
    color: #2bb90a;
}

li{
    padding-right: 1.5rem;
    list-style: none;
}

.extra-links{
    justify-content: space-around;
    padding-top: 0.5rem;
    font-size: 15px;
}

.extra-links a{
    color: rgba(101,129,109,.7);
}

.btns .link{
    padding-right: 0.5rem;
}
.cta{
    color: #fff;
    background-color: #2bb90a;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
}

.cta:hover{
    color: #fff;
}


.showcase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 7rem;
}

.showcase-title{
    text-align: center;
    width: 50%;
}

.showcase-title h1 {
    font-size: 55px;
    color: #003c2f;
}

.pay-plan{
    width: 50%;
    margin: auto;
    background-color: #f0f5f0;
    padding: .6rem 0px;
    border-radius: 5rem;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.pay-plan:nth-child(2){
    color: #ffff;
}
.pay-plan--plans{
    background-color: #003c2f;
    border-radius: 5rem;
    padding: .7rem 18px;
}

.pay-plan--yearly {
    color: #fff;
}

.pay-plan--free{
    background-color: #fff;
    padding: 5px 9px;
    color: #2bb90a;
    font-size: 10px;
    border-radius: 5rem;
    margin-left: 1rem;
}

.plans{
    display: flex;
    flex-direction: row;
    width: 74%;
    justify-content: center;
    padding: 5rem 0 0 0;
}

.plan {
    box-shadow: 0 0 20px 0 rgba(0,0,0,.1);
    padding: 4rem 2.5rem 1rem 2.5rem;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin-right: 1rem;
}
.last{
    margin-right: 0;
}
.plan h1{
    text-align: center;
    color: #003c2f;
    font-size: 32px;
}
.plan .cta{
    text-align: center;
    margin-bottom: 1rem;
}
.price{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #003c2f;
    margin: 1rem 0;
}

.price span {
    color: #65816d;
    opacity: .5;
    font-size: 14px;
}
.plan ul {
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0rem 1.5rem 0;
    align-self: center;
    width: 100%;
}
.plan ul li{
    color: #003c2f;
    font-size: 15px;
    padding: 0;
}
.plan p{
    color:#65816d;
    font-size: 14px;
    text-align: center;
    border-bottom: 0.1px solid #65816d33;
    padding-bottom: 1.2rem;
}

.add-ons{
    padding-top: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.add-ons--title{
    text-align: center;
    color: #003c2f;
    font-size: 42px;
    width: 40%;
}

.add-ons .wrapper{
    display: flex;
    flex-direction: row;
    width: 77%;
    padding-top: 4rem;
}

.wrapper .block{
    border: 1px solid #d3dcd4;
    border-radius: 20px;
    padding: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 2rem;
}

.block .text{
    margin-bottom: 3rem;
}

.block p {
    font-size: 15px;
    color: #65816d;
}

.block a{
    border-bottom: 0.3px solid #2bb90a;
    color: #2bb90a;
    width: 40%;
}

.flex-end{
    align-self: flex-end;
}

.block h2, .block .price h1{
    font-size: 32px;
    color: #003c2f;
}

.add-ons .wrapper .last .text{
    margin-top: 1rem;
}


.questions{
    display: flex;
    flex-direction: row;
    margin-top: 7rem;
    overflow-x: hidden;
}

.questions img{
    width: 48%;
    transform: translateX(284px);
}

.questions-container{
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 10rem;
}

.questions-container h1{
    color: #003c2f;
    font-size: 39px;
}

.questions--wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 4rem;
}

.questions--wrapper h5{
    padding-bottom: 2rem;
    color: #003c2f;
    border-bottom: 0.1px solid #65816d33;
    margin-bottom: 3rem;
}

.testimonial{
    margin-top: 5rem;
    overflow-x: hidden;
}
 
.testimonial h2{
    color: #003c2f;
    font-size: 42px;
    width: 46%;
    margin-bottom: 1.5rem;
}

.testimonials--comments{
    background-color: #ecf1ec;
    border-radius: 10px;
    width: auto;
    font-size: 17px;
}

.testimonials--comments p{
    margin: 0;
}

.testimonials--comments-wrapper{
    margin-top: 5rem;
}

.contact-us{
    margin-top: 8rem;
    font-size: 14px;
}

.contact-us img{
    width: 100%;
}
.contact-us h4 {
    color: #003c2f;
    font-size: 28px;
    line-height: 100%;
    font-weight: 700;
}
.contact-us p {
    color: #65816d;
}
.contact-us--link{
    color: #22ad01;
    text-decoration: underline;
    font-size: 14px;
}

.contact-wrapper{
    padding-left: 2rem;
}

.help{
    padding-bottom: 2rem;
    margin-bottom: 3rem;
}

.call-to-action a{
    padding: 2rem 5rem;
}

.banner{
    background-image:url('/imgs/banner.png');
    background-color: #003c2f;
    background-position: 50%;
    background-size: cover;
    border-radius: 60px;
    color: #fff;
    padding: 5rem 0;
    width: 80%;
    margin: 5rem auto 3rem auto;
}

.banner p{
    font-size: 24px;
}
footer{
    width: 100%;
    margin: auto;
    padding-left: 2rem;
    padding-bottom: 1.5rem;
    margin-bottom: 1rem;
}
footer img{
    width: 50%;
    margin-bottom: 2.5rem;
}

footer ul{
    padding: 0;
    padding-top: 1rem;
}

footer .link{
    font-size: 12px;
    padding-top: 0.4rem;
}